body{
    margin: 0;
  }
  
  .bg-opacity{
      position: relative;
      background-color: #000;
  }
  
  .bg-opacity::before{
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0.5;
      background: url("../images/nitc.jpg") no-repeat center center;
      background-size: cover;
  }
  
  .content{
    position: relative;
    width: 100%;
    height: 900px;
  }

  .student-text {
      margin-top: 10px;
      margin-bottom: 10px;
  }